*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: spicy rice, tiny5;   
}

body{
    background-color: #000000;
}

.form {
    text-align: center;
    padding: 20px;
}

.form img {
    max-width: 300px;
    width: 100%;
}

.form input[type=text],
.form input[type=email]{
    padding-left: 10px;
    font-size: 16px;
    border-radius: 20px;
    display: block;
    margin: 10px auto;
    max-width: 500px;
    width: 100%;
    height: 35px;
    border: 1px solid #ccc;

}

.form textarea{
    padding: 10px;
    resize: vertical;
    font-size: 16px;
    border-radius: 20px;
    display: block;
    margin: 10px auto;
    max-width: 500px;
    width: 100%;
    height: 120px;
    border: 1px solid #ccc;

}

.form input[type=submit]{
    padding-left: 10px;
    font-size: 16px;
    border-radius: 20px;
    display: block;
    margin: 10px auto;
    max-width: 500px;
    width: 100%;
    height: 35px;
    border: 0;
    cursor: pointer;
    color: white;
    background-color: #571aad;
    
}